{% load static %}

<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Excel Sheet Upload</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">




</head>
<style>
    .card {
      margin-left: 18%;
    margin-right: 18%;
    width: auto;
}
</style>
<body>
{% load static %}
    {% include 'statics/style.html' %}

{% block content %}


{% endblock content %}
{% include 'statics/script.html' %}

</body>
</html>